@font-face {
  font-family: Avenir-Black;
  src: url("../../assets/fonts/Avenir-Black.otf");
}

@font-face {
  font-family: Avenir-Roman;
  src: url("../../assets/fonts/Avenir-Roman.otf");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("../../assets/fonts/Avenir-Heavy.otf");
}

.signUp h3 {
  font-family: Avenir-Black, sans-serif;
  font-size: 30px;
  margin: 10px auto 50px;
}

.signUp nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 20px 60px;
  font-size: 18px;
}
.signUp nav button {
  border-radius: 30px;
  font-weight: 500;
  padding: 8px 15px;
  z-index: 1;
  color: #1b2733;
  background: transparent;
}
.roman {
  font-family: Avenir-Roman;
}
.signUp {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
}
.signUp nav {
  width: 90vw;
}
.signUp form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.signUp form input[type],
.signUp form button {
  padding: 10px 20px;
  border-color: black;
  margin: 0;
  max-width: 20vw;
}
.signUp input[type],
.signUp input[type]:active,
.signUp input[type]:focus,
.signUp input[type]:hover {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
}

.signUp form button {
  background: #ffdd00;
  border-radius: 30px;
  width: 100%;
}
.breakFlow {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px auto;
  color: black;
  max-width: 20vw;
}
hr {
  border: 2px solid #b6abab;
  flex-grow: 1;
}
.signUpButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 20vw;
  justify-content: center;
  text-align: center;
  margin: 0 auto 20px;
}
.signUpButtons button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 40px;
}

.endNotes {
  color: #717171;
  text-align: center;
  max-width: 20vw;
  margin: auto;
  font-size: 14px;
}
.ml-5 {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .signUpButtons {
    width: 80vw;
  }
  .signUp form input[type],
  .signUp form button {
    max-width: 80vw;
  }
  .breakFlow,
  .endNotes {
    max-width: 80vw;
  }
}
@media (min-width: 600px) and (max-width: 1100px) {
  .signUpButtons {
    width: 40vw;
  }
  .signUp form input[type],
  .signUp form button {
    max-width: 40vw;
  }
  .breakFlow,
  .endNotes {
    max-width: 40vw;
  }
}
