.imageList {
  margin: 100px auto;
}
.btn-row {
  max-width: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  display: inline-block;

  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;

  color: #333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  background-color: #ddd;
}
.active {
  background-color: #ddd;
}

.photos {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100vh;
}
.photos img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: auto;
}

li {
  list-style: none;
  padding: 10px 20px;
}
