.Header {
  padding: 48px 24px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: baseline;
  background-color: white;
  margin: 20px;
  border-radius: 40px;
  padding: 18px 24px;
}
a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;
}
.signUp {
  background: #ffdd00;
  border-radius: 40px;
  padding: 10px 14px;
}
